.profile{
    display: flex;
    padding-top: 20px;
    background-color: azure;
    justify-content: center;
    overflow: hidden;
}
.profile_picture{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 1px double black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.description{
    padding-top: 50px;
    margin-left: 40px;
}
#like ,#follow, #following{
    margin-right: 20px;
    color: gray;
}
.name{
    color: black;
    font-size: large;
    font-weight: 500;
  }
  .info{
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
  }
